{% extends 'index_layout.html' %}
{% block content %}
<style>
h1 {text-align: center;}
</style>
    <div id="home" class="mini-layout" style="width:100%;height=100%;">
        <div region="center">
            <h1> How to get sponsor H1b approval data</h1>
            <br>
            <dl>
                <dt>Sponsor data is cut in to two parts: (a) Over 12 H1B approvals from 2011 to 2021; (b) Less than 12 H1B approval over the last 10 years.
                    <br>
                Therefore, to start the searching, click on the "Sponsor" tab, type in the company name in the searching bar and see if you have found the company you are interested.
                If there is no luck, click on the "Sponsor More " tab, type in the company name in the searching bar and hit enter. If there is still no data return, it indicates no H1B approval
                    over the last 10 years.
                    <br>
                    Once you found the company name
                you are interested, H1B sponsor number by year and the next two years prediction can be found in the figure. Below the table,
               a listing of the H1B approval details of the company you select should be shown and can be adjusted according to your preference.

                </dt>
            </dl>
        </div>
    </div>

{% endblock %}