{% extends 'h1b_layout.html' %}
{% block js %}

{% endblock %}

{% block content %}
    <div style="height: 100%;padding: 6px">
        <div style="width: 100%;height: 40px;background: #FFFFFF;line-height: 26px">
            <div style="text-align: center">
                Select NAICS :<input id="componentNaicsId" class="mini-combobox"
                                     style="width:300px;margin-left: 6px"
                                     tex tField="text"
                                     valueField="id" emptyText="请选择..."
                                     required="true" allowInput="true"
                                     showNullItem="true" nullItemText="请选择..."/>
            </div>
        </div>
        <div style="height: calc(100% - 46px);margin-top: 6px">
            <div style="height: 100%;width: 100%;">

                <div style="height: 460px;background: #FFFFFF;padding: 6px">
                    <div id="chart_22" class="echart"
                         style="outline: none;height:100%;background-color: #60A2D7">
                    </div>
                </div>
                <div style="height: calc(100% - 540px);width: 100%;margin-top: 6px;padding: 6px;background: #FFFFFF;">
                    <div style="height: 100%;width: 100%;">
                        <div id="chart_33" class="echart"
                             style="outline: none;height:100%;background-color: #60A2D7">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            echart_22();
            echart_33();
        })

        function echart_22() {
            // 基于准备好的dom，初始化echarts实例
            var myChartCount = echarts.init(document.getElementById('chart_22'));
            const colors = ['#5470C6', '#EE6666'];
            var optionCount;
            optionCount = {
                xAxis: {
                    type: 'category',
                    data: [] //年
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        data: [],
                        type: 'line',
                        smooth: true
                    }
                ]
            };
            $.ajax({
                url: '/h1b/industry/chart/',
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    //将后台返回的数据更新到option中
                    if (res.status) {
                        optionCount.xAxis.data = res.series.year;
                        optionCount.series[0].data = res.series.data1;
                        myChartCount.setOption(optionCount);
                    }
                }
            })
            // 使用刚指定的配置项和数据显示图表。
            window.addEventListener("resize", function () {
                myChartCount.resize();
            });
        }

        function echart_33() {
            // 基于准备好的dom，初始化echarts实例
            var myChartWage = echarts.init(document.getElementById('chart_33'));
            const colors = ['#5470C6', '#EE6666'];
            var option;
            option = {
                xAxis: {
                    type: 'category',
                    data: []
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        data: [],
                        type: 'bar'
                    }
                ]
            };

            $.ajax({
                url: '/h1b/industry/chart/',
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    //将后台返回的数据更新到option中
                    if (res.status) {
                        option.xAxis.data = res.series.year;
                        option.series[0].data = res.series.data2;
                        myChartWage.setOption(option);
                    }
                }
            })
            // 使用刚指定的配置项和数据显示图表。
            window.addEventListener("resize", function () {
                myChartWage.resize();
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "/get_naics_company/",
                type: "post",
                data: {},
                usr: 2,
                contentType: false,
                processData: false,
                success: function (data) {
                    var _data = []
                    _data = data.data.map(item => {
                        return {id: item.id, text: item.name}
                    })
                    mini.get('componentNaicsId').setData(_data)
                }
            });
        });

        mini.parse()
        mini.get('componentNaicsId').on('valuechanged', function (e) {
            // 基于准备好的dom，初始化echarts实例
            console.log("eeeeeeeeeeeeeee=", e.selected.text)
            var myChartCount = echarts.init(document.getElementById('chart_22'));
            var myChartWage = echarts.init(document.getElementById('chart_33'));
            const colors = ['#5470C6', '#EE6666'];
            var optionCount;
            var optionWage;
            optionCount = {
                xAxis: {
                    type: 'category',
                    data: [] //年
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        data: [],
                        type: 'line',
                        smooth: true
                    }
                ]
            };
            optionWage = {
                xAxis: {
                    type: 'category',
                    data: []
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        data: [],
                        type: 'bar'
                    }
                ]
            };
            $.ajax({
                url: "/get_selected_naics/",
                type: "post",
                data: {selected: e.selected.text},
                dataType: "JSON",
                success: function (res) {
                    //将后台返回的数据更新到option中
                    if (res.status) {
                        optionCount.xAxis.data = res.series.year;
                        optionCount.series[0].data = res.series.data1;
                        myChartCount.setOption(optionCount);
                        // 使用刚指定的配置项和数据显示图表。
                        window.addEventListener("resize", function () {
                            myChartCount.resize();
                        });
                        optionWage.xAxis.data = res.series.year;
                        optionWage.series[0].data = res.series.data2;
                        myChartWage.setOption(optionWage);
                        window.addEventListener("resize", function () {
                            myChartWage.resize();
                        });
                    }
                }
            })
        })
    </script>
{% endblock %}