{% extends 'index_layout.html' %}
{% load static %}
{% block content %}
            <!--green start --><br/><br/>
            <div id="green">
                <h2>Don't worry!</h2>
                <p>Being an international student in the U.S. is hard.......  Each company have different
                    policy on H1B sponsorship, and it varies every year. How could we know? <br/><br/>
                    </p>
                <p>This website is based on the H1B approval data in the past 10 years,
            forecasting the following 2 years of H1B approval numbers for each company.  <span class="red">Plus</span>
            An overall H1B and salary trend by industry and occupation.</p>

            </div>
            <!--green end --><br/><br/><br/><br/>
            <h3>Introducing: H1B Data Modeling and Prediction</h3><br/>
            <h4>No more wasting our previous time！</h4><br/>
            <p class="rightTxt1">  Actually, when we look at the previous published H1B approval data, it gives us a good
                prediction on the company's next year sponsorship planning. Instead of sending
                    hundreds and thousands of job applications online but never hear anything back, we can plan ahead and save our time by
                skipping the company that will simply not sponsor the H1B.</p><br/>
            <p class="rightTxt2">In addition, by looking at the occupation and industry level trending, we can focus on apply for the
            more promising title and company. To get more details on how to use this website to land you first H1B job, simply check the article
                on the left.<br/><br/><br/><br/><br/><br/>
            </p>
            <div id="flash">

                <ul>
                    <li class="redBg"> Suggestions? </li>
                    <li class="redBg" > <a href="/contact/">Contact me!</li>

                </ul>
                <p>
                </p>
                <li ><a href="/index_sponsor/">Get Started</a></li>
                <br class="spacer"/>
            </div>
{% endblock %}


