{% extends 'index_layout.html' %}
{% block content %}
    <div id = "mygreen">
        <br>Tip: The company name is cleaned during the data processing, no company prefix, suffix, special symbol, punctuation are included in the analysis. e.g. Google.com llc will be
                    simplified as "GOOGLE" in the searching bar.
                    <br>
            <div style="text-align: center">
                Select Company Name :<input id="componentId" class="mini-combobox"
                                     style="width:400px;margin-left: 6px"
                                     tex tField="text"
                                     valueField="id" emptyText="Please Select..."
                                     required="true" allowInput="true"
                                     showNullItem="true" nullItemText="Please Select..."/>
            </div>

        <div id="mypic5">
            <p><span>Sponsor H1b</span></p>
                <div id="chart_11" class="echart" style="outline: none;height:100%;background-color: #d3d2b4">
                </div>
        </div>

        <div id="mypic6">
            <p><span>Average Wage</span></p>
                <div id="demo_table" class="mini-datagrid"  showPager="true" pageSize="20" virtualScroll="false"
                     allowResizeColumn="true"  sizeList="[20,50,100]" pageSizeField="Total" pageIndexField="Total"
                     style="height:100%;width:100%;font:bold 11px/21px Arial, Helvetica, sans-serif;" >
                            <div property="columns">
                                <div type="indexcolumn" width="10" ></div>
                                <div field="comp1" width="60" headerAlign="center" allowSort="true">Company</div>
                                <div field="soc_name" width="60" headerAlign="center" allowSort="true">Title</div>
                                <div field="wage" width="20" headerAlign="center" allowSort="true">Wage</div>
                                <div field="state" width="20" headerAlign="center" allowSort="true">State</div>
                                <div field="year" width="20" headerAlign="center" allowSort="true">Year</div>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            var dataResult = {};
            dataResult.total = 0;
            $(document).ready(function () {
                mini.mask({
                    el: document.body,
                    cls: 'mini-mask-loading',
                    html: 'Load Company Name...'
                })
                $.ajax({
                    url: "/get_company/",
                    type: "post",
                    data: {},
                    usr: 2,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        mini.unmask()
                        var _data = []
                        _data = data.data.map(item => {
                            return {id: item.id, text: item.name}
                        })
                        mini.get('componentId').setData(_data)
                    }
                });
            });

            mini.parse()
            var grid = mini.get('demo_table');
            var text;
             // 分页填充细节处理
            function fillData(pageIndex, pageSize, dataResult, grid) {
                console.log("into fillData",pageIndex, pageSize, dataResult)
                var data = dataResult.lists;
                var totalCount = dataResult.total;
                console.log("----",data);
                var arr = [];
                var start = pageIndex * pageSize, end = start + pageSize;
                for (var i = start, l = end; i < l; i++) {
                        var record = data[i];
                        if (!record) continue;
                            arr.push(record);
                }
                grid.setTotalCount(totalCount);
                grid.setPageIndex(pageIndex);
                grid.setPageSize(pageSize);
                grid.setData(arr);
 //               var pager_text=document.getElementsByClassName("mini-pager-right");
 //               pager_text.innerText=totalCount;
//<div class="mini-pager-right">20 results per page/div>
            }

            // 监听分页前事件，阻止后自行设置当前数据和分页信息
            grid.on("beforeload", function (e) {
                e.cancel = true;
                var pageIndex = e.data.pageIndex, pageSize = e.data.pageSize;
                fillData(pageIndex, pageSize, dataResult, grid);
            });
            var dataResult = null;
            mini.get('componentId').on('valuechanged', function (e) {
                text = e.selected.text;
                 getSj(e);
            })
             // 发送选择的公司名称到后台，后台读取数据发送到前台，生成图形和表格
            function getSj(e) {
                var myChart = echarts.init(document.getElementById('chart_11'));
                const colors = ['#5470C6', '#EE6666'];
                option = {
                    color: colors,
                    tooltip: {
                        trigger: 'none',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    legend: {},
                    grid: {
                        top: 70,
                        bottom: 50
                    },
                    xAxis: [
                        {
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                onZero: false,
                                lineStyle: {
                                    color: colors[1]
                                }
                            },
                            axisPointer: {
                                label: {
                                    formatter: function (params) {
                                        return (
                                            'Estimated cases  ' +
                                            params.value +
                                            (params.seriesData.length ? '：' + params.seriesData[0].data : '')
                                        );
                                    }
                                }
                            },
                            // prettier-ignore  日期 后台数据
                            data: []
                        },
                        {
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            axisLine: {
                                onZero: false,
                                lineStyle: {
                                    color: colors[0]
                                }
                            },
                            axisPointer: {
                                label: {
                                    formatter: function (params) {
                                        return (
                                            'H1B approval cases  ' +
                                            params.value +
                                            (params.seriesData.length ? '：' + params.seriesData[0].data : '')
                                        );
                                    }
                                }
                            },
                            // prettier-ignore  后台数据
                            data: []
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: 'real',
                            type: 'line',
                            xAxisIndex: 1,
                            smooth: true,
                            emphasis: {
                                focus: 'series'
                            },
                            //后台数据
                            data: []
                        },
                        {
                            name: 'pred',
                            type: 'line',
                            smooth: true,
                            emphasis: {
                                focus: 'series'
                            },
                            //后台数据
                            data: []
                        }
                    ],
                }
                mini.mask({
                    el: document.body,
                    cls: 'mini-mask-loading',
                    html: 'Querying Database...'
                })
                $.ajax({
                    url: "/get_selected_companyID/",
                    type: "post",
                    data: {
                        selected: e.selected.text || text,
                    },
                    dataType: "JSON",
                    success: function (res) {
                        mini.unmask()
                        //将后台返回的数据更新到option中
                        console.log("000000000  into get_selected_companyID", res)
                        if (res.status) {
                            option.xAxis[0].data = res.series.year;
                            option.xAxis[1].data = res.series.year;
                            option.series[0].data = res.series.pro;
                            option.series[1].data = res.series.real;
                            myChart.setOption(option);

                            dataResult = mini.decode(res.text);
                            // 第一次设置
                            fillData(0, grid.getPageSize(), dataResult, grid);
                            //mini.get("demo_table").setData(res.lists);
                            {#mini.get("demo_table").setTotalCount(res.total)#}
                            {#dataResult.data = res.lists;#}
                            {#dataResult.total = res.total;#}
                            // 使用刚指定的配置项和数据显示图表。
                            window.addEventListener("resize", function () {
                                myChart.resize();
                            });
                        }
                    }
                })
            }
        </script>
{% endblock %}