<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>TemplateWorld.com Template - Web 2.0</title>
<link href="innerstyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--header start -->
<div id="header">
<ul class="topLink">
<li><a href="#" class="subscribe"></a></li>
<li><a href="#" class="signup"></a></li>
</ul>
<a href="index.html"><img src="images/logo.gif" alt="Circle" width="137" height="39" border="0" class="logo" title="Circle" /></a>
<p class="topTxt"><span>Vulputate sit amet</span> bibendum in, nibh. Donec sagittis. Lorem ipsum dolor sit amet</p>
</div>
<!--header end -->
<!--body start -->
<div id="body">
<p class="navLeft"></p>
<ul class="nav">
<li><a href="#">Links</a></li>
<li><a href="#">About Us</a></li>
<li><a href="#">Testimonials</a></li>
<li><a href="#">Categories</a></li>
<li><a href="#">Our Goals</a></li>
<li><a href="#">Future Plans</a></li>
<li><a href="#">Solutions</a></li>
<li><a href="#">Support</a></li>
<li class="noImg"><a href="#">Contact Us</a></li>
</ul>
<p class="navRight"></p>
<!--left start -->
<div id="left">
<h2 class="welcome"><span><img src="images/welcome.gif" alt="" /></span></h2>
<p class="lftTxt">Tellus nisi rutrum lectus, quis adipiscing diam massa sit amet arcu. Nulla at ante. Maecenas<br /><br />
<span>lacinia est in mauris cras in turpis.</span> Vestibulum pulvinar, felis ac acu condimentum pretium, nulla orci tincidunt erat,
Nam ut lorem id arcununc  lobortisore consequat. Nam et justo.Nunc ac purus convallis magna egestasmar mattis</p>
<h2 class="le"><img src="images/latest_event.gif" alt="" /></h2>
<p class="lftTxt">Tellus nisi rutrum lectus, quis adipiscing diam massa sit amet arcu. Nulla at ante. Maecenas<br />
    <br />
    <span>lacinia est in mauris cras in turpis.</span> Vestibulum pulvinar, felis ac acu condimentum pretium, nulla orci tincidunt erat,
  Nam ut lorem id arcununc  lobortisore consequat. Nam et justo.Nunc ac purus convallis magna egestasmar mattis<br />
</p>
<p class="lftTxt">Tellus nisi rutrum lectus, quis adipiscing diam massa sit amet arcu. Nulla at ante. Maecenas<br />
    <br />
    <span>lacinia est in mauris cras in turpis.</span> Vestibulum pulvinar, felis ac acu condimentum pretium, nulla orci tincidunt erat,
  Nam ut lorem id arcununc  lobortisore consequat. Nam et justo.Nunc ac purus convallis magna egestasmar mattis</p>
<h2 class="le"><img src="images/our_services.gif" alt="" width="138" height="21" /></h2>
<p class="lftTxt">Tellus nisi rutrum lectus, quis adipiscing diam massa sit amet arcu. Nulla at ante. Maecenas<br />
    <br />
    <span>lacinia est in mauris cras in turpis.</span> Vestibulum pulvinar, felis ac acu condimentum pretium, nulla orci tincidunt erat,
  Nam ut lorem id arcununc  lobortisore consequat. Nam et justo.Nunc ac purus convallis magna egestasmar mattis<br />
</p>
<p class="lftTxt">Tellus nisi rutrum lectus, quis adipiscing diam massa sit amet arcu. Nulla at ante. Maecenas<br />
    <br />
    <span>lacinia est in mauris cras in turpis.</span> Vestibulum pulvinar, felis ac acu condimentum pretium, nulla orci tincidunt erat,
  Nam ut lorem id arcununc  lobortisore consequat. Nam et justo.Nunc ac purus convallis magna egestasmar mattis</p>
<p class="lftTxt"><br/></p>
<p class="lftTxt">Tellus nisi rutrum lectus, quis adipiscing diam massa sit amet arcu. Nulla at ante. Maecenas<br />
  <br />
  <span>lacinia est in mauris cras in turpis.</span> Vestibulum pulvinar, felis ac acu condimentum pretium, nulla orci tincidunt erat,
  Nam ut lorem id arcununc  lobortisore consequat. Nam et justo.Nunc ac purus convallis magna egestasmar mattis</p>
<br class="spacer" />
</div>
<!--left end -->
<!--right start -->
<div id="right">
<!--service start -->
<div id="service">
<h2><img src="images/latest_service.gif" alt="" class="head" /></h2>
<h3>Nam ut loremid</h3>
<img src="images/service_pic.gif" alt="" width="81" height="98" class="pic" />
<ul>
<li><a href="#">Dui nunc a nisl ut</a></li>
<li><a href="#">Ante ultrices</a></li>
<li><a href="#">Vestibulum.</a></li>
<li><a href="#">Phasellus euelitvel</a></li>
<li><a href="#">Nibh</a></li>
<li><a href="#" class="rm2"></a></li>
</ul>
<p class="serBot"></p>
<br class="spacer" />
</div>
<!--service end -->
<!--question start -->
<div id="question">
<h2><img src="images/more_question.gif" alt="" class="head2"/></h2>
<h3>Pellente squebibendum</h3>
<img src="images/question_pic.gif" alt="" width="79" height="83" class="pic2" />
<ul>
<li><a href="#">Egestas ut </a></li>
<li><a href="#">Consequat, duiet</a></li>
<li><a href="#">Varius elementm,</a></li>
<li><a href="#">Enim tellusat mi,</a></li>
<li><a href="#">Quis</a></li>
<li><a href="#" class="rm3"></a></li>
</ul>
<p class="questionBot"></p>
<br class="spacer" />
</div>
<!--question end -->
<!--mem start -->
<div id="mem">
<h2>Member login</h2>
<form name="member_login" action="#" method="post">
<label>Name</label>
<input type="text" name="name" class="txtBox" />
<label>Password</label>
<input type="password" name="name" class="txtBox" />
<input type="checkbox" name="chk1" class="chk" />
<a href="#">Remember Me</a>
<input type="submit" name="login" value="" class="login" />
<br class="spacer" />
</form>
<br class="spacer" />
</div>
<div class="rightempty"></div>
<!--mem end -->
<!--direction start -->
<div id="direction">
<h2>proper direction</h2>
<h3>Pellente squebibendum</h3>
<img src="images/proper_direction_pic.gif" alt="" width="96" height="101" class="pic3" />
<ul>
<li><a href="#">Egestas ut </a></li>
<li><a href="#">Consequat, duiet</a></li>
<li><a href="#">Varius elementm,</a></li>
<li><a href="#">Enim tellusat mi,</a></li>
<li><a href="#">Quis</a></li>
<li><a href="#" class="rm4"></a></li>
</ul>
<br class="spacer" />
</div>
<!--direction end -->
<h3 class="rightBot"><br/></h3>
<br class="spacer" />
</div>
<!--right end -->
<br class="spacer" />
</div>
<!--body end -->
<!--footer start -->
<div id="footer"> 
  <p class="copyright">Copyright © Circle 20XX. All Rights Reserved.</p>
  <p class="design">Designed by : <a href="http://www.templateworld.com/" target="_blank" class="link">Template 
    World</a></p>
  <a href="http://validator.w3.org/check?uri=referer" target="_blank" class="xhtml">Xhtml 
  valid</a> <a href="http://jigsaw.w3.org/css-validator/check/referer" target="_blank" class="css">css 
  valid</a></div>
<!--footer end -->
</body>
</html>
